.otp-input-fields {
  width: 65px;
  text-align: center;
  padding: 5px;
}
.card-number-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.card-inputs {
  width: 278px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
