/* * {
  user-select: none;
} */

details {
  background: #efefef;
  width: 90%;
  margin: 0 auto;
  text-align: right;
  margin-bottom: 10px;
  border-radius:10px ;
  -webkit-border-radius:10px ;
  -moz-border-radius:10px ;
  -ms-border-radius:10px ;
  -o-border-radius:10px ;
  overflow: hidden;
}

.summary_style {
  background: #1d2939;
  color: #fff;
  position: relative;
  direction: rtl;
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary_style::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: #f25920;
  width: 8px;
  height: 64px;
}

.summary_style h4 {
  position: relative;
  right: 30px;
  font-weight: bold;
}

.togglerIcon_style {
  position: relative;
  background: none;
  border: none;
  width: 10%;
}

details[open] summary .togglerIcon_style::after {
  content: "^";
  width: 30px;
  height: 30px;
  background: #F25920;
  font-size: 20px;
  margin: 0 0 0 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  display: block;
}

.togglerIcon_style::after {
  content: "<";
  font-size: 20px;
  width: 30px;
  height: 30px;
  background: #F25920;
  font-size: 20px;
  margin: 0 0 0 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  display: block;

}
.h4 {
  color: #fff;
}
.InnerDetail {
  font-size: 16px;
  color: red;
}
