.Information_container {
  direction: rtl;
  background-color: #f7f7f7;
  border-radius: 5px;
  width: 100%;
  margin: 3px auto;
  border: 1px solid lightgray;
  padding: 10px 15px;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  padding-bottom: 20px;
  margin-bottom: 25px;
}
