.Zemanat3_container {
  width: 95%;
  margin: 0 auto;
  /* margin-top: 20px; */
}

.input_section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}


.modalBody_parent{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}