.submit_style,
.submit_style:hover,
.submit_style:disabled {
  border: none;
  background: #3a9bfb;
  border-radius: 4px;
  color: white !important;
  width: 188px;
  height: 36px;
  margin: 0 8px 0 0;
  cursor: pointer;
}
.submit_style:hover {
  background: #83c7ff !important;
}
.submit_style:disabled {
  cursor: inherit !important;
  background: #83c7ff !important;
}
.cancle_style {
  background: white;
  border: 1px solid #3a9bfb;
  border-radius: 4px;
  color: #3a9bfb;
  width: 84px;
  height: 36px !important;
  margin: 0 8px 0 0;
  cursor: pointer;
}
