.date {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 10px !important;
}
.labelDate {
  font-weight: 500;
}
.Datail {
  color: #fff;
  margin-bottom: 10px;
}
.InnerDetail {
  font-size: 20px;
  font-weight: 500;
  color: gray;
  padding: 20px 0 30px;
  text-align: center;
}
