.notif_container {
  border-radius: 2px;
  width: 100%;
  padding: 17px 15px;
  direction: rtl;
  margin: 10px 0;
}
.success {
  color: #5f8f4a;
  background-color: #e9f8e3;
  border: 1px solid #afd49f;
}

.inform {
  color: #61a7d2;
  background-color: #e6f7ff;
  border: 1px solid #91d5ff;
}
.error {
  color: #d85454;
  background-color: #ffe3e3;
  border: 1px solid #ffa4a4;
}
