.Zemanat3_container {
    width: 75%;
    margin: 0 auto;
    margin-top: 20px;
}

.input_section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.persian_price {
    color: #9A9A9A;
    font-size: 13px;
    width: 30%;
    margin: 0 auto;
}