.timer-btn {
  width: 110px;
  height: 32px;
  color: #3a9bfb;
  background: #d3e9ff;
  border-radius: 2px;
  position: absolute;
  left: 20px;
}
.ant-statistic-content {
  font-size: 14px;
  color: #3a9bfb;
}
