.ant-btn-primary {
  border: none;
  background: #3a9bfb;
  border-radius: 4px;
  color: white;
  width: 188px;
  height: 36px;
  margin: 0 8px 0 0;
  cursor: pointer;
}
.ant-btn-primarydisabled {
  cursor: inherit;
  background: #83c7ff;
}
.ant-btn-secondary {
  background: white;
  border: 1px solid #3a9bfb;
  border-radius: 4px;
  color: #3a9bfb;
  width: 84px;
  height: 36px;
  margin: 0 8px 0 0;
  cursor: pointer;
}
.anticon svg {
  color: white;
}
a .anticon svg {
  color: #1890ff;
}
.ant-modal-content {
  color: #3a9bfb;
  border: 1px solid #3a9bfb;
  border-radius: 5px;
  width: 360px;
  direction: rtl;
}
