.Zemaanet3 {
  width: 75%;
  margin: 3px auto;
}
.Zemaanet3__body {
  margin-top: 23px;
  position: relative;
}
.Zemaanet3__body__links {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  direction: initial;
}
.sign_guid {
  font-size: 16px;
  line-height: 60px;
  text-decoration: underline;
}
.Zemaanet3_links {
  font-size: 12px;
  line-height: 28px;
  text-decoration: underline;
}
