.logo {
  display: flex;
  height: 60px;
  margin: auto;
  border-bottom: 1px solid #fff;
  justify-content: center;
  align-items: center;
}
.logo-text {
  color: #fff;
  margin-right: 9px;
}
.logo-text p {
  margin-bottom: 2px;
}
.sidebar {
  position: relative !important;
  width: 15%;
  height: 1920px;
  right: 0px;
  top: 0px;
  direction: rtl;
  background: #1d2939;
}
.ant-menu {
  padding: 0px;
  margin-top: 0px;
}
.ant-menu-item {
  color: #fff;
  list-style-type: none;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #fff;
  font-size: 13px;
  height: 60px;
  align-items: center;
  justify-content: center;
}
.ant-menu-item-selected {
  background: #f4ab4d;
}
.ant-menu-inline > .ant-menu-item {
  height: 70px !important;
  margin: 0 auto !important;
  padding-top: 10px !important;
}
.ant-menu-title-content {
  margin-left: 0 !important;
}
