.ant-form-item-label > label::after {
  content: "" !important;
}
.ant-input {
  width: 278px;
}
.ant-form-item-row {
  float: left;
}
.ant-form-item {
  margin-bottom: 10px;
}
.ant-input:disabled {
  cursor: inherit;
}
.ant-input[type="number"] {
  direction: ltr;
}
.ant-input[type="password"] {
  direction: ltr;
}
