.container{
    background-color: #fff;
    width: 90%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.users_column{
    border-right: 2px solid #F25920;
    padding-right: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.user{
    display: flex;
    flex-direction: row-reverse;
}
.user_title{
    font-weight: 700;
    margin-left: 10px;
}
.line{
    border-left: 1px solid gray;
    height: 30px;
}
.butto_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
    margin-left: 15px;
}
.summary{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    overflow: visible;
    position: relative;
    direction: rtl;
}
.details{
    margin-top: 15px;
}
details[open] .summary::after {
    content: "^";
    width: 45px;
    height: 45px;
    background: #3A9BFB;
    font-size: 20px;
    margin: 0 0 0 15px;
    text-align: center;
    display: block;
    position: absolute;
    left: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #fff;
}
  .summary::after {
    content: "<";
    font-size: 20px;
    width: 45px;
    height: 45px;
    background: #3A9BFB;
    font-size: 20px;
    margin: 0 0 0 15px;
    text-align: center;
    display: block;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #fff;
}
