.sodoor_container {
    width: 95%;
    margin: 0 auto;
    padding: 10px 0;
}

.dark_div {
    background: #F7F7F7;
    color: #686868;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.light_div{
    background: #fff;
    color: #686868;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 13px 20px;
}